<div nz-row nzJustify="center">
  <div nz-col nzXXl="14" nzXl="14" nzLg="18" nzMd="22" nzSpan="24">
    <div nz-row nzjustify="center">
      <div nz-col nzSpan="24" class="mt-1">
        <h2 nz-typography class="text-center">Thêm mới dịch vụ bệnh viện</h2>
      </div>
      <div nz-col nzspan="24" class="mt-2">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
          <div nz-row nzJustify="center" [nzGutter]="[12, 12]">
            <div nz-col nzSpan="12">
              <nz-form-item class="m-0">
                <nz-form-label nzSpan="24" nzRequired>
                  Tên dịch vụ
                </nz-form-label>
                <nz-form-control>
                  <input formControlName="name" type="text" nz-input placeholder="Nhập tên dịch vụ" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item class="m-0">
                <nz-form-label nzSpan="24" nzRequired>
                  Giá dịch vụ
                </nz-form-label>
                <nz-form-control>
                  <input formControlName="price" type="text" nz-input placeholder="Giá dịch vụ" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXXl="12" nzXl="12" nzLg="12" nzMd="24" nzSpan="24">
              <nz-form-item class="m-0">
                <nz-form-label nzSpan="24" nzRequired> Bệnh viện </nz-form-label>
                <nz-form-control>
                  <nz-select [compareWith]="compareFn" formControlName="hospital" nzPlaceHolder="Lựa chọn bệnh viện">
                    <ng-container *ngIf="listHospital">
                      <nz-option *ngFor="let hospital of listHospital" [nzValue]="hospital" [nzLabel]="hospital.name">
                      </nz-option>
                    </ng-container>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXXl="12" nzXl="12" nzLg="12" nzMd="24" nzSpan="24">
              <nz-form-item class="m-0">
                <nz-form-label nzSpan="24" nzRequired>
                  Chuyên khoa
                </nz-form-label>
                <nz-form-control>
                  <nz-select [compareWith]="compareFn" formControlName="specialist"
                    nzPlaceHolder="Lựa chọn chuyên khoa">
                    <ng-container *ngIf="listSpecialist">
                      <nz-option *ngFor="let specialist of listSpecialist" [nzValue]="specialist"
                        [nzLabel]="specialist.name"></nz-option>
                    </ng-container>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col class="mt-3">
              <button type="submit" nz-button class="mx-2" [nzType]="'primary'">
                Thêm mới
              </button>
              <button type="reset" nz-button class="mx-2" nzDanger="true" nzType="primary">
                Xóa nhập
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
